<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
  <div class="col-6 offset-3">
        <h1>SignUp on Wanderlust</h1>
        <br>
        <form action="/signup" method="POST" class="needs-validation" novalidate>
            <!-- //username -->
            <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input
            name="username"
            type="text"
            class="form-control"
            id="username"
            required
            >
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please enter a username.</div>
            </div>


            <!-- email -->
            <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input
            name="email"
            type="email"
            class="form-control"
            id="email"
            required
            >
            </div>

            <!-- password -->
            <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
            name="password"
            type="password"
            class="form-control"
            id="password"
            required
            >
            </div>
            <button class="btn btn-success">SignUp</button>
        </form>
    </div>
</div>
<script src="/css/js/script.js"></script>